.AfterHeroParent {
  padding: 10% 10%;
}

.servicesMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
.servicesDes {
  font-size: 16px;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.servicesEachOne {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 0.1px solid rgb(205, 204, 204);
  width: 18rem;
  height: 18rem;
  padding: 2vh;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.icons {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 15px;
  color: #004ffe;
}

.servicesTagline {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}

.seeAllServiceParent {
  margin: 4% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.generalTagline1 {
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
}

.arrowTag {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #004ffe;
  color: #ffdb3f;
  font-weight: bold;
}

.secondTagline {
  font-size: 1.8rem;
  color: #004ffe;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

.taglineDrift {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additionalObjectParent {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.additionalObjectEachOne {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  width: 16vw;
  height: 40vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
}

.additionalObjectTagline1,
.additionalObjectTagline2 {
  text-align: center;
  margin-top: 5px;
}

.additionalObjectTagline1 {
  font-weight: bold;
}

.additionalObjectTagline2 {
  font-size: 0.7rem;
}
.icons2 {
  width: 3.1rem;
  height: 3.1rem;
  margin: 0% auto;
  color: #004ffe;
}

.SecondBigTagline {
  color: #004ffe;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 7%;
}

.parentHow {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: top;
  /* padding: 20px 0px; */
  /* background-color: #ffdb3f; */
  gap: 3vw;
  /* justify-content: space-between; */
}
.howImages {
  display: grid;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(5, 1fr); /* 4 equal rows */
  gap: 10px; /* Add spacing between images */
}
.minorTag {
  font-size: 0.8rem;
}
.imageset1 {
  grid-column: 1/3;
  object-fit: cover;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* background-color: #004ffe; */
}
.imageset2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  grid-column: 3/5;
  grid-row: 1/6;
  /* background-color: #004ffe; */
}
.imageset3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  grid-column: 1/3;
  grid-row: 4/6;
  /* background-color: #004ffe; */
}

.howTaglines {
  font-size: 1.2rem;
  font-weight: bold;
  color: #004ffe;
  margin-bottom: 3px;
  text-align: left;
}
.howDivsParent {
  width: 50%;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.howDivs {
  margin-right: 0%;
  padding-right: 0%;
  margin-bottom: 25px;
}
.minorTag {
  margin-bottom: 4px;
  line-height: 0.8rem;
  text-align: left;
}
.placeOrderParent {
  display: flex;
  align-items: center;
  gap: 5px;
}
.btnLine {
  font-size: 0.8rem;
  text-decoration: underline;
}
.contactUsParent {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
  background-color: #ffdb3f;
  padding: 20px 30px;
  border-radius: 7px;
  margin-bottom: 8%;
  align-items: center;
}
.contactUsINFO {
  width: 70%;
}
.contactUsBTN {
  padding: 6px 8px;
  border-style: none;
  background-color: #004ffe;
  border-radius: 4px;
  color: whitesmoke;
  text-decoration: none;
}
.SecondBigTaglineDIV {
  text-align: center;
}
.contactUsBTN:hover {
  background-color: #2a6dff;
  color: white;
}
@media (max-width: 1024px) {
  .servicesEachOne,
  .additionalObjectEachOne {
    width: 30vw;
    height: auto;
  }
  .howDivsParent {
    text-align: center;
  }
  .howImages {
    height: 100%;
  }
  .servicesMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .AfterHeroParent {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .additionalObjectParent {
    gap: 6rem;
  }

  .parentHow {
    max-width: 90%;
  }
  .secondTagline {
    font-size: 1.6rem;
    max-width: 80%;
    padding: 10% 0;
  }
  .additionalObjectEachOne {
    width: 60vw;
    height: auto;
  }

  .servicesEachOne {
    width: 40vw;
    height: auto;
  }
  .minorTag {
    max-width: 40vw;
  }
  .howTaglines {
    max-width: 40vw;
  }
  .howContent {
    flex-direction: column;
    align-items: center;
  }

  .howImages {
    width: 100%;
  }
  .howDivs {
    max-width: 90%;
  }

  .howDivsParent {
    max-width: 100% !important;
    text-align: center;
  }
}

@media (max-width: 537px) {
  .howDivsParent {
    text-align: center;
  }
  .howImages {
    height: 100%;
  }
  .servicesMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 4rem;
  }
  .servicesEachOne {
    width: 60vw;
  }
}

@media (max-width: 414px) {
  .howImages {
    height: 35rem;
  }
  .howDivsParent {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    height: 44rem;
  }
  .howTaglines {
    font-size: 1rem;
  }
  .minorTag {
    font-size: 0.7rem;
  }
  .parentHow {
    margin-bottom: 20rem;
  }
}

@media (max-width: 350px) {
  .howImages {
    height: 40rem;
  }
  .howDivsParent {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .howTaglines {
    font-size: 1rem;
  }
  .minorTag {
    font-size: 0.7rem;
  }
  .parentHow {
    margin-bottom: 20rem;
  }
}

@media (max-width: 382px) {
  .howImages {
    height: 36rem;
  }
}

@media (max-width: 354px) {
  .howImages {
    height: 41rem;
  }
}

@media (max-width: 305px) {
  .howImages {
    height: 44rem;
  }
}

@media (max-width: 356px) {
  .howImages {
    height: 39rem;
  }
}

@media (max-width: 352px) {
  .howImages {
    height: 41rem;
  }
}

@media (max-width: 304px) {
  .howImages {
    height: 46rem;
  }
}

@media (min-width: 414px) and (max-width: 429px) {
  .howImages {
    height: 40rem !important;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .howImages {
    height: 35rem !important;
  }
}
@media (min-width: 423px) and (max-width: 479px) {
  .howImages {
    height: 38rem !important;
  }
}
@media (min-width: 491px) and (max-width: 493px) {
  .howImages {
    height: 34rem !important;
  }
}
@media (min-width: 493px) and (max-width: 519px) {
  .howImages {
    height: 33.5rem !important;
  }
}

@media (min-width: 519px) and (max-width: 560px) {
  .howImages {
    height: 30.5rem !important;
  }
}
@media (min-width: 561px) and (max-width: 573px) {
  .howImages {
    height: 30.5rem !important;
  }
}

@media (min-width: 420px) and (max-width: 422px) {
  .howImages {
    height: 40rem !important;
  }
}

@media (min-width: 414px) and (max-width: 572px) {
  .howImages {
    height: 36rem;
  }
  .parentHow {
    margin-bottom: 15rem;
  }
}

@media (min-width: 584px) and (max-width: 586px) {
  .howImages {
    height: 28.5rem;
  }
}
@media (min-width: 588px) and (max-width: 678px) {
  .howImages {
    height: 27.5rem;
  }
}

@media (min-width: 679px) and (max-width: 875px) {
  .howImages {
    height: 25rem;
  }
}

@media (min-width: 875px) and (max-width: 959px) {
  .howImages {
    height: 24rem;
  }
}

@media (min-width: 959px) and (max-width: 1160px) {
  .howImages {
    height: 21rem;
  }
}

@media (min-width: 1161px) and (max-width: 1866px) {
  .howImages {
    height: 21rem;
  }
}
